.enquiries {
    color: rgb(94, 93, 105);
}

.enquiries .title {
    font-size: 2rem;
    margin-bottom: 60px;
}

.enquiries .instruction {
    display: flex;
    font-weight: 600;
    margin-bottom: 30px;
    align-items: center;
}

.enquiries .mainDiv .cancelClassDiv {
    font-size: 1.5rem;
    color: red;
    margin-bottom: 30px;
}